[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main

[submodule "submodules/paimon-cpp"]
	path = submodules/paimon-cpp
	url = https://github.com/alibaba/paimon-cpp.git
[submodule "submodules/arrow"]
	path = submodules/arrow
	url = https://github.com/apache/arrow.git
	branch = release-22.0.0-rc1
